-i https://pypi.tuna.tsinghua.edu.cn/simple
certifi==2024.8.30; python_version >= '3.6'
charset-normalizer==3.4.0; python_full_version >= '3.7.0'
idna==3.10; python_version >= '3.6'
loguru==0.7.2; python_version >= '3.5'
pyyaml==6.0.2; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
schedule==1.2.2; python_version >= '3.7'
urllib3==2.2.3; python_version >= '3.8'
